################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/test_task_ssis/bin/Development
/test_task_ssis/obj/Development
